<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlr.demo1.mapper.UserMapper">


    <select id="getUserList" resultType="User">
        select *
        from user
    </select>
    <select id="Login" resultType="User">
        select *
        from user
        where user_name = #{userName}
          and password = #{passWord}
    </select>
</mapper>
